.navbar-default {
	background-color: transparent;
    border-color: transparent;
    padding: 15px;
}

.nav-color{
	background-color: #cadec7 !important;
}
.btn-cadastrar {
    background-color: #37bc9b !important;
    border-color: #37bc9b !important;
}
.btn-cadastrar:focus,
.btn-cadastrar:hover {
    background-color: #48CFAD !important;
    border-color: #48CFAD !important;
}

.btn-consultar {
    background-color: #8acab9 !important;
    border-color: #37bc9b !important;
    color: #000000;
    font-size: medium !important;
    font-family: "Arial Black", Gadget, sans-serif !important;
}

.btn-consultar:focus,
.btn-consultar:hover {
    background-color: #0080c0 !important;
    border-color: #48CFAD !important;
    color: #00ffff;
    margin: 0px;
    padding: 0px;
}

.btn-entrar {
    background-color: #F47D30 !important;
    border-color: #F47D30 !important;
}
.btn-entrar:focus,
.btn-entrar:hover {
    background-color: #f98b45 !important;
    border-color: #f98b45 !important;
}
.lnk-sair {
	color: #37bc9b !important;
}
.lnk-sair:focus > i,
.lnk-sair:hover > i {
    color: #48CFAD !important;
}

.consulta-col{
	background-color: transparent !important;
	border-radius: 10px;
	padding-top: 20px;
    padding-right: 5px;
    padding-bottom: 20px;
    padding-left: 5px;
}

.consulta-result{
	background-color: #f0fff1 !important;
	border-radius:  10px;
	padding-top: 	20px;
	padding-bottom: 25px;
}
